<!doctype html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en" ng-app="leadboxmvc"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app="leadboxmvc"> <!--<![endif]-->
	<head>

		<meta charset="utf-8">

		<!-- Use the .htaccess and remove these lines to avoid edge case issues. More info: h5bp.com/b/378 -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- DEV NOTE: whenever possible set the HTTP-Header for X-UA-Compatible too to avoid problems with intranet zones -->

		<title>exampleModule.exampleTemplate</title>
		<meta name="description" content="">

		<!-- Mobile viewport optimized: h5bp.com/viewport -->
		<meta name="viewport" content="width=device-width">

		<meta property="og:title" content="exampleModule.exampleTemplate">
		<meta property="og:type" content="article">
		<meta property="og:url" content="">
		<meta property="og:image" content="">
		<meta property="og:description" content="use same as meta description">

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
		<!-- page specific meta information -->

		<!-- CSS: implied media=all -->
		<!-- CSS should be concatenated and minified in production use -->
		<link rel="stylesheet" href="resources/css/styles.all.css">
		<!-- end CSS-->
		<!-- page specific stlyes -->

		<!-- All JavaScript at the bottom, except for Modernizr / Respond.
		Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
		For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
		<script src="resources/js/vendor/modernizr-2.6.2.min.js"></script>
	</head>

	<body role="document">

		<div class="app-wrapper">
			<header id="header" class="clearfix" role="banner">
				<a class="logo" href="javascript:void(0);">
					<img src="_assets/logo.png" alt="Logo" />
				</a>
			</header>

			<nav id="navigation" role="navigation">
				<ul class="left">
					<li><a class="icon-home" href="javascript:void(0);">DASHBOARD</a></li>
					<li><a class="active icon-list" href="javascript:void(0);">LEADS</a></li>
				</ul>
				<ul class="right">
					<li><span class="user-name">Max Mustermann</span> <img src="./resources/img/defaultuser_thumb.png" alt="portrait"/></li>
					<li><a class="settings icon-cog" href="javascript:void(0);"><span>EINSTELLUNGEN</span></a></li>
					<li><a class="logout icon-unlock-fill" href="javascript:void(0);"><span>LOGOUT</span></a></li>
				</ul>
			</nav>
			<div class="main-wrapper clearfix" ng-controller="leadboxCtrl">

				<div class="lead-detail">
					<nav class="lead-detail-nav clearfix">
						<a class="left icon-paging-left" href="javascript:void(0);" ng-click="detailview = 0" ng-init="detailview = 0">ZURÜCK ZUR ÜBERSICHT</a>
						<div class="right">
							<a class="icon-paging-left" href="javascript:void(0)";></a>
							<a class="icon-paging-right" href="javascript:void(0)";></a>
						</div>
					</nav>
					<header class="clearfix">
						<h1 class="page-headline left">Maximilian Mustermann</h1>
						<div class="right">
							<a class="vcard icon-user" href="javascript:void(0)";></a>
							<a class="checkout icon-arrow-right-alt1" href="javascript:void(0)";></a>
							<a class="score icon-high" href="javascript:void(0)";></a>
						</div>
					</header>
					<div class="lead-info clearfix">
						<div class="col-left left">
							<div class="img-wrapper">
								<img src="resources/img/lead-detail-dummy.png" />
							</div>
							<div>logo</div>
						</div>
						<div class="col-right left clearfix">
							<ul class="lead-details lead-facts clearfix">
								<li><span class="label">Position:</span><span class="value">Senior Projektmanager, angestellt</span></li>
								<li><span class="label">Region:</span><span class="value">Süd-West-Deutschland</span></li>
								<li><span class="label">Telefon:</span><span class="value">0123/45 67 890</span></li>
								<li><span class="label">Xing:</span><span class="value">xing.com/profiles/max-mustermann</span></li>
								<li><span class="label">Email:</span><span class="value mail">Virtual Identity</span></li>
								<li><span class="label">Zielgruppe:</span><span class="value">Virtual Identity</span></li>
								<li><span class="label">Firma:</span><span class="value"><a href="javascript:void(0)">Virtual Identity</a></span></li>
								<li><span class="label">Region:</span><span class="value">Virtual Identity</span></li>
								<li><span class="label">Telefon: asdf asfd asdfasdafdds asdf asfd asdfasdafdds</span><span class="value">Virtual Identity</span></li>
								<li><span class="label">Score:asdf asfd asdfasdafddsfsdafas asfd asfd asdf asdf sdf dsf</span><span class="value">Virtual Identity<span class="leads-score {{lead.scoreType}}-score"></span></span></li>
								<li><span class="label">Email:</span><span class="value mail">Virtual Identity</span></li>
								<li><span class="label">Zielgruppe:</span><span class="value">Virtual Identity</span></li>
							</ul>
							<h1>Empfehlungen für Follow-up Ansprache</h1>
							<ul class="lead-todo clearfix">
								<li><span class="label">Email senden: asdf asdf asfd asdfasdafddsfsdafas asfd asfd asdf asdf sdf dsf asdf asfd asdfasdafddsfsdafas asfd asfd asdf asdf sdf dsf asdf asfd asdfasdafddsfsdafas asfd asfd asdf asdf sdf dsf</span><span class="value">bis 11/2013 asdf asfd asdfasdafddsfsdafas asfd asfd asdf asdf sdf dsf asdf asfd asdfasdafddsfsdafas asfd asfd asdf asdf sdf dsf asdf asfd asdfasdafddsfsdafas asfd asfd asdf asdf sdf dsf</span></li>
								<li><span class="label">Region</span><span class="value">Virtual Identity</span></li>
								<li><span class="label">Telefon</span><span class="value">Virtual Identity</span></li>
								<li><span class="label">Email</span><span class="value mail">Virtual Identity</span></li>
								<li><span class="label">Zielgruppe</span><span class="value">Virtual Identity</span></li>
							</ul>
						</div>
					</div>
				</div>



				<div class="lead-overview">
					<h1 class="page-headline">Alle Leads (<span>{{leads.length}}</span>)</h1>
					<div id="panel-left">
						<header class="clearfix">
							<a class="toggle-filter icon-close-filter" href="javascript:void(0);"><span>FILTERN UND SORTIEREN</span></a>
						</header>
						<form class="filter">
							<div class="filter-wrapper">
								<!-- <fieldset>
									<legend>Ergebnisse anzeigen</legend>
									<select>
										<option>Alle Leads</option>
										<option>Gespeichert 1</option>
										<option>Gespeichert 2</option>
										<option>Gespeichert 3</option>
									</select>
								</fieldset> -->
								<fieldset class="filter-search">
									<h1>Ergebnisse durchsuchen</h1>
									<div class="input-append clearfix">
										<input class="search-field" type="text" placeholder="Ergebnisse durchsuchen" ng-model="filter.searchTerm" />
										<button class="search-button icon-magnifying-glass" type="submit"></button>
									</div>
								</fieldset>
								<fieldset class="filter-scoring">
									<span>Scoring</span>
									<label class="checkbox">
										<input type="checkbox" ng-model="filter.cat.score.high">
										<span class="leads-score high-score"></span>
										High Leads
									</label>
									<label class="checkbox">
										<input type="checkbox" ng-model="filter.cat.score.medium">
										<span class="leads-score medium-score"></span>
										Medium Leads
									</label>
									<label class="checkbox">
										<input type="checkbox" ng-model="filter.cat.score.low">
										<span class="leads-score low-score"></span>
										Low Leads
									</label>
								</fieldset>
								<fieldset class="filter-expand">
									<span class="icon-stop"></span>
									<span class="icon-stop"></span>
									<span class="icon-stop"></span>
								</fieldset>
								<fieldset>
									<span>Vertriebsregion</span>
									<label class="checkbox">
										<input type="checkbox" ng-model="filter.cat.vertriebsregion.sued">
										Süd
									</label>
									<label class="checkbox">
										<input type="checkbox" ng-model="filter.cat.vertriebsregion.nord">
										Nord
									</label>
									<label class="checkbox">
										<input type="checkbox" ng-model="filter.cat.vertriebsregion.ost">
										Ost
									</label>
									<label class="checkbox">
										<input type="checkbox" ng-model="filter.cat.vertriebsregion.west">
										West
									</label>
								</fieldset>
								<fieldset>
									<span>Produktgruppen</span>
									<label class="checkbox">
										<input type="checkbox" ng-model="filter.cat.produktgruppen.fassade">
										Fassaden
									</label>
									<label class="checkbox">
										<input type="checkbox" ng-model="filter.cat.produktgruppen.innenraum">
										Innenraum
									</label>
									<label class="checkbox">
										<input type="checkbox" ng-model="filter.cat.produktgruppen.akustik">
										Akustik
									</label>
									<label class="checkbox">
										<input type="checkbox" ng-model="filter.cat.produktgruppen.lacke">
										Lacke/Lasuren
									</label>
								</fieldset>
							</div>
						</form>
					</div>
					<div id="main" class="clearfix container" role="main">
						<nav class="page-tabs clearfix">
							<ul>
								<li class="active" ng-click="pagetabs = 1" ng-init="pagetabs=1"><a href="javascript:void(0);">LISTENANSICHT</a></li>
								<li ng-click="pagetabs = 2" ng-init="pagetabs=1"><a href="javascript:void(0);">KARTENANSICHT</a></li>
							</ul>
						</nav>
						<div class="page-tab-1" ng-class="{pagetabs: karte}">
							<div class="pagination clearfix">
								<div class="left">
									<span>1-20 von 30</span>
								</div>
								<div class="right clearfix">
									<a class="" href="javascript:void(0);">1</a>
									<a class="" href="javascript:void(0);">2</a>
									<a class="" href="javascript:void(0);">3</a>
									<span>...</span>
									<a class="" href="javascript:void(0);">12</a>
									<a class="icon-arrow-right" href="javascript:void(0);"></a>
								</div>
							</div>
							<ul class="sort clearfix">
								<li><a class="icon-sort-desc" href="javascript:void(0);">Name</a></li>
								<li><a class="icon-sort-desc" href="javascript:void(0);">Score</a></li>
								<li><a class="icon-sort-desc" href="javascript:void(0);">Status</a></li>
								<li><a class="icon-sort-desc" href="javascript:void(0);">Region</a></li>
								<li><a class="icon-sort-desc" href="javascript:void(0);">Firma</a></li>
								<li><a class="icon-sort-desc" href="javascript:void(0);">Zielgruppe</a></li>
								<li><a class="icon-sort-asc active" href="javascript:void(0);">Neueste zuerst</a></li>
							</ul>
							<ul class="lead-listview" ng-show="leads.length" ng-cloak>
								<li ng-repeat="lead in leads" id="lead-{{lead.ID}}" class="clearfix" ng-click="$parent.detailview = 1" ng-init="$parent.detailview = 0">
									<div class="img-wrapper">
										<img ng-src="{{lead.imgPath}}" />
									</div>
									<h1>{{lead.surname}} {{lead.name}}</h1>
									<ul class="lead-details">
										<li><span class="label">Firma:</span><span class="value">{{lead.company}}</span></li>
										<li><span class="label">Region:</span><span class="value">{{lead.region}}</span></li>
										<li><span class="label">Telefon:</span><span class="value">{{lead.phone}}</span></li>
										<li><span class="label">Score:</span><span class="value">{{lead.scoreLabel}}<span class="leads-score {{lead.scoreType}}-score"></span></span></li>
										<li><span class="label">Email:</span><span class="value mail">{{lead.email}}</span></li>
										<li><span class="label">Zielgruppe:</span><span class="value">{{lead.zielgruppe}}</span></li>
									</ul>
									<span class="checkout active icon-arrow-right-alt1">AUSGECHECKT</span>
								</li>
							</ul>
							<div class="pagination clearfix">
								<div class="left">
									<span>1-20 von 30</span>
								</div>
								<div class="right clearfix">
									<a class="" href="javascript:void(0);">1</a>
									<a class="" href="javascript:void(0);">2</a>
									<a class="" href="javascript:void(0);">3</a>
									<span>...</span>
									<a class="" href="javascript:void(0);">12</a>
									<a class="icon-arrow-right" href="javascript:void(0);"></a>
								</div>
							</div>
						</div>
						<div class="page-tab-2 leaflet loaded">
							<div id="map" style="width: 100%; height: 926px; position: relative">
							</div>
							<div id="addMarkersToMap"><span>Marker Hinzufügen</span></div>
						</div>
					</div>
				</div>
			</div>

			<footer id="footer" role="contentinfo">

			</footer>
		</div>
		<!-- concatenate and minify script for live environment -->
		<!--[if lt IE 9]>
		<script src="resources/modules/h5bp/js/consolePolyfill.js"></script>
		<script src="resources/js/vendor/jquery-1.10.2.min.js"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script src="resources/js/vendor/jquery-2.0.3.min.js"></script>
		<!--<![endif]-->
		<script src="resources/js/vendor/angular.min.js"></script>
		<script src="resources/js/modules/jquery.placeholder.js"></script>
		<script src="resources/js/main.js"></script>
		<script src="app/app.js"></script>
		<script src="resources/js/modules/leafletJs/leaflet-src.js"></script>
		<script src="resources/js/modules/leafletJs/L.Control.Pan.js"></script>
		<script src="resources/js/modules/leafletJs/L.Control.Zoomslider.js"></script>
		<script src="resources/js/modules/leafletJs/leaflet.markercluster.js"></script>
		<script src="resources/js/modules/leafletJs/leafletCustom.js"></script>
		<script src="app/controllers/leadboxCtrl.js"></script>
		<script src="app/services/leadboxStorage.js"></script>

		<!--[if lt IE 9]>
		<script src="resources/js/iePolyfills.js"></script>
		<![endif]-->

		<!-- page specific scripts -->
	</body>
</html>