/**
 * @project       default project
 * @package       html-css-js
 * @author        VI
**/

/**
 * @section  content
**/

body {
	font-family: LatoRegular, arial;
	font-size: 15px;
	color: #000;
}

body a {
	text-decoration: none;
	color: #0099d2;
}

h1 {
	margin: 15px 0 0;
	font-size: 20px;
	font-weight: normal;
	color: #000;
}

h1.page-headline {
	margin-top: 25px;
	font-size: 30px;
	line-height: 35px;
	color: #000;
}

.placeholder {
	color: #aaa;
}

input:-ms-input-placeholder {
	color: #aaa;
}

 .high-score {
	background-color: #df0029;
}

.medium-score {
	background-color: #c2ca20;
}

.low-score {
	background-color: #f5d74d;
}

#navigation ul li a {
	padding: 11px 25px 11px;
	display: block;
	font-size: 20px;
	color: #000;
	border-right: 1px solid #fff;
}

#navigation ul li a:hover,
#navigation ul li a.active {
	color: #fff;
	background-color: #0099d2;
}

#navigation ul li .user-name {
	display: block;
	padding: 16px 15px 13px 25px;
	float: left;
	font-size: 15px;
}

#navigation ul li .user-protrait {
	display: block;
	float: left;
}

#navigation .settings {
	width: 68px;
	position: relative;
	overflow: hidden;
	border-left: 1px solid #fff;
	-webkit-transition: width 0.5s ease 0s;
	-moz-transition: width 0.5s ease 0s;
	-o-transition: width 0.5s ease 0s;
	transition: width 0.5s ease 0s;
}

#navigation .settings span {
	position: absolute;
	top: 11px;
	left: 68px;
}

#navigation .settings:hover,
#navigation .settings.active {
	width: 250px;
}

#navigation .settings:hover span,
#navigation .settings.active span {
	left: 58px;
}

#navigation .logout {
	width: 68px;
	position: relative;
	overflow: hidden;
	border-right: none;
	-webkit-transition: width 0.5s ease 0s;
	-moz-transition: width 0.5s ease 0s;
	-o-transition: width 0.5s ease 0s;
	transition: width 0.5s ease 0s;
}

#navigation .logout span {
	position: absolute;
	top: 11px;
	left: 68px;
}

#navigation .logout:hover,
#navigation .logout.active {
	width: 164px;
}

#navigation .logout:hover span,
#navigation .logout.active span {
	left: 54px;
}

.lead-overview #panel-left {
	width: 270px;
	-webkit-transition: width 0.5s ease 0s;
	-moz-transition: width 0.5s ease 0s;
	-o-transition: width 0.5s ease 0s;
	transition: width 0.5s ease 0s;
	overflow: hidden;
}

.lead-overview #panel-left header {
	position: relative;
	background-color: #0099d2;
}

.lead-overview #panel-left header .toggle-filter {
	height: 40px;
	display: block;
	padding: 10px 10px 10px 30px;
	font-size: 15px;
	color: #fff;
}

.lead-overview #panel-left header .toggle-filter > span {
	width: 230px;
	position: absolute;
	top: 10px;
	left: 30px;
	z-index: 1;
}

.lead-overview #panel-left .filter {
	background-color: #f3f6f7;
}

.lead-overview #panel-left .filter h1 {
	margin-top: 3px;
}

.lead-overview #panel-left .filter .filter-search > h1 {
	width: 230px;
}

.lead-overview #panel-left .filter .input-append {
	height: 30px;
	margin-top: 8px;
	position: relative;
	border: 1px solid #8a989c;
	background-color: #fff;
}

.lead-overview #panel-left .filter .input-append .search-field {
	width: 100%;
	height: 28px;
	padding: 0 37px 0 8px;
	border: none;
}

.lt-ie9 .lead-overview #panel-left .filter .input-append .search-field {
	padding-top: 5px;
}

.lead-overview #panel-left .filter .input-append .search-button {
	display: block;
	width: 37px;
	height: 28px;
	position: absolute;
	top: 0;
	right: 0;
	background: transparent;
	border: none;
}

.lead-overview #panel-left .filter .filter-expand {
	display: none;
}

.lead-overview #panel-left .filter fieldset {
	padding: 20px 0;
	position: relative;
	border-top: 1px solid #CDCDCD;
}

.lead-overview #panel-left .filter fieldset:before {
	content: "";
	width: 100%;
	height: 1px;
	position: absolute;
	top: 0;
	background-color: #FEFEFE;
}

.lead-overview #panel-left .filter fieldset:first-child {
	border-top-width: 0;
}

.lead-overview #panel-left .filter fieldset:first-child:before {
	height: 0;
}

.lead-overview #panel-left .filter fieldset > span:first-child {
	font-family: LatoBold, arial;
}

.lead-overview #panel-left .filter .checkbox {
	display: block;
	padding-top: 3px;
}

.lead-overview #panel-left .filter .checkbox input {
	margin-right: 7px;
}

.lead-overview #panel-left .filter .filter-scoring {
	width: 230px;
}

.lead-overview #panel-left .filter .filter-scoring .leads-score {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 6px;
}

.lead-overview #panel-left.reduced {
	width: 78px;
	overflow: hidden;
}

.lead-overview #panel-left.reduced header > .toggle-filter > span,
.lead-overview #panel-left.reduced .filter .filter-search > h1,
.lead-overview #panel-left.reduced .filter .filter-scoring > span {
	display: none;
}

.lead-overview #panel-left.reduced .filter .filter-wrapper {
	overflow: hidden;
}

.lead-overview #panel-left.reduced .filter fieldset:not([class*="filter-"]) {
	visibility: hidden;
}

.lead-overview #panel-left.reduced .filter .input-append .search-field  {
	width: 0;
	padding: 0;
}

.lead-overview #panel-left.reduced .filter .input-append .search-button {
	background: transparent;
}

.lead-overview #panel-left.reduced .filter .filter-expand {
	display: block;
}

.lead-overview #main .pagination {
	width: 100%;
	margin: 20px 0 0;
}

.lead-overview #main .pagination .left {
	font-family: LatoBold, arial;
	color: #999;
}

.lead-overview #main .pagination .right a,
.lead-overview #main .pagination .right span {
	width: 24px;
	height: 24px;
	margin-left: 5px;
	display: block;
	float: left;
	font-family: LatoBold, arial;
	text-align: center;
	color: #0099d2;
}

.lead-overview #main .pagination .right a {
	background-color: #f4f6f4;
	border: 1px solid #d7d6d6;
}

.lead-overview #main .pagination .right a:first-child {
	margin-left: 0;
}

.lead-overview #main .pagination .right a:hover,
.lead-overview #main .pagination .right a.active {
	color: #fff;
	background-color: #0099d2;
}

.lead-overview #main .sort {
	margin: 20px 0 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 35px;
	background-color: #cfdbdf;
}

.lead-overview #main .sort li {
	display: block;
	float: left;
}

.lead-overview #main .sort li:last-child {
	float: none;
	overflow: hidden;
}

.lead-overview #main .sort li a {
	display: block;
	padding: 7px 10px 7px 10px;
	color: #000;
	border-left: 1px solid #fff;
}

.lead-overview #main .sort li a:hover,
.lead-overview #main .sort li a.active {
	color: #fff;
	background-color: #0099d2;
}

.lead-overview #main .sort li:first-child a {
	border-left: none;
}

.lead-overview #main .lead-listview .leads-score {
	display: inline-block;
	width: 25px;
	height: 15px;
	margin-left: 6px;
	margin-top: -2px;
	vertical-align: middle;
}

.lead-overview #main .page-tabs ul li {
	padding: 8px 10px;
}

.lead-overview #main .page-tabs ul li:first-child {
	padding-left: 0;
}

.lead-overview #main .page-tabs ul li a {
	padding-bottom: 5px;
	font-size: 20px;
	color: #8a989c;
}

.lead-overview #main .page-tabs ul li a:hover,
.lead-overview #main .page-tabs ul li.active a {
	color: #000;
	border-bottom: 5px solid #000;
}

.lead-overview #main .page-tabs {
	border-bottom: 1px solid #000;
}

.lead-overview #main .lead-listview h1 {
	margin-top: 0;
}

.lead-overview #main .lead-details {
	margin-top: 10px;
}

.lead-overview #main .lead-details li {
	font-size: 15px;
	line-height: 18px;
	color: #000;
}

.lead-overview #main .lead-details .label {
	width: 32%;
	display: block;
	float: left;
	color: #999;
}

.lead-overview #main .lead-details .value {
	width: 68%;
	display: block;
	float: left;
}

.lead-overview #main .lead-details .mail {
	-ms-word-break: break-all;
	word-break: break-all;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	color: #408cd9;
}

.lead-overview #main .checkout {
	display: none;
	margin-top: 6px;
	margin-left: 120px;
	color: #33cc00;
}

.lead-overview #main .checkout.active {
	display: block
}

.lead-detail .lead-detail-nav a.left {
	padding-top: 10px;
	font-size: 13px;
	font-weight: bold;
}

.lead-detail .lead-detail-nav .right a {
	width: 30px;
	height: 30px;
	margin-left: 10px;
	display: block;
	float: left;
	background-color: #0099d2;
}

.lead-detail header .right a {
	width: 50px;
	height: 50px;
	display: block;
	margin-left: 10px;
	float: left;
}

.lead-detail header .right .vcard {
	background-color: #0099d2;
}

.lead-detail header .right .checkout {
	background-color: #33cc00;
}

.lead-detail header .right .score {
	background-color: #df2229;
}

.lead-detail .col-left .img-wrapper {
	width: 300px;
	height: 300px;
	background-color: #f1f4f5;
}

.lead-detail .col-left .img-wrapper img {
	max-width: 300px;
	max-height: 300px;
	display: block;
	margin: 0 auto;
}

.lead-detail .col-right ul {
	width: 632px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.lead-detail .col-right ul > li {
	overflow: hidden;
}

.lead-detail .col-right ul > li > span {
	padding: 5px 10px;
	-ms-word-break: break-all;
	word-break: break-all;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.lead-detail .col-right ul > li:nth-child(odd) {
	background-color: #f1f4f5;
}

.lead-detail .col-right .label {
	width: 137px;
	display: block;
	float: left;
	color: #999;
	border-right: 5px solid #fff;
}

.lead-detail .col-right .value {
	width: 500px;
	margin-left: -5px;
	display: block;
	float: left;
	border-left: 5px solid #fff;
}

.lead-detail .col-right .lead-todo {
	margin: 14px 0 0;
}

.lead-detail .col-right .lead-todo .label {
	width: 447px;
	color: #000;
}

.lead-detail .col-right .lead-todo .value {
	width: 160px;
}

.lead-detail ul a:hover {
	text-decoration: underline;
}

