/**
 * @project       default project
 * @package       html-css-js
 * @author        VI
**/

/**
 * @section  content
**/

body {
	font-family: Arial;
	font-size: 15px;
	color: #333;
}

body a {
	text-decoration: none;
	color: #0099d2;
}