/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08.11.2013, 00:08:47
    Author     : markus
*/


.input-daterange {
display: none;
}

.phantomButtons {
	float: right;
	width: 260px;
}

.phantomButtons input, .phantomButtons span {
	float: left;
}

.form-group .input-daterange {
	float: left;
}

.phantomButtons input {
	width: 100px;
}

.input-daterange span, phantomButtons span {
	margin: 5px -5px 2px 10px;
	width: 25px;
}

.tab-staffing h2 {
	display: inline-block;
}

