/**
 * @project       default project
 * @package       html-css-js
 * @author        VI
**/

/**
 * @section icons (links with :before)
**/

/* icons (taken from iconfont) */
/* default link icon in link-list */
@font-face {
	font-family: 'iconic';
	src:url('../fonts/iconic/iconic.eot');
	src:url('../fonts/iconic/iconic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/iconic/iconic.ttf') format('truetype'),
		url('../fonts/iconic/iconic.woff') format('woff'),
		url('../fonts/iconic/iconic.svg#iconic') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'iconic';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */

[class*="icon-"]:before,
[class*="icon-"]:after {
	font-family: 'iconic';
	speak: none;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	 line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;

	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-hyphens: auto;
	color: #000;
}

[class*="icon-"]:before {
	margin-right: 15px;
}

[class*="icon-"]:after {
	margin-left: 15px;
}

#navigation [class*="icon-"]:hover:before,
#navigation ul li a.active:before {
	color: #fff;
}

#navigation ul li .icon-cog:before,
#navigation ul li .icon-unlock-fill:before {
	margin: 0;
}

#navigation ul li .icon-cog:hover:before,
#navigation ul li .icon-cog.active:before,
#navigation ul li .icon-unlock-fill:hover:before,
#navigation ul li .icon-unlock-fill.active:before {
	margin-right: 15px;
}

#panel-left .icon-open-filter:after,
#panel-left .icon-close-filter:after {
	margin-top: -2px;
	padding: 0 10px 0 10px;
	position: absolute;
	right: 0;
	vertical-align: middle;
	float: right;
	font-size: 22px;
	color: #fff;
	background-color: #0099d2;
	z-index: 2;
}

#panel-left .icon-magnifying-glass:before {
	margin: 0;
	padding-top: 2px;
	color: #0099d2;
}

#panel-left .filter-expand .icon-stop:before {
	display: block;
	padding-left: 18px;
	line-height: 2;
	font-size: 5px;
	color: #999;
	cursor: pointer;
}

#main .pagination .icon-arrow-right:before {
	padding: 1px 0 0 3px;
	color: #0099d2;
}

#main .pagination .icon-arrow-right:hover:before {
	color: #fff;
}

#main .sort .icon-sort-asc:after,
#main .sort .icon-sort-desc:after {
	vertical-align: middle;
	font-size: 7px;
}

#main .sort .icon-sort-asc:after {
	margin-top: -2px;
}

#main .sort .icon-sort-asc:hover:after,
#main .sort .icon-sort-asc.active:after,
#main .sort .icon-sort-desc:hover:after,
#main .sort .icon-sort-desc.active:after {
	color: #fff;
}

#main .icon-arrow-right-alt1:before {
	margin-top: -5px;
	margin-right: 5px;
	vertical-align: middle;
	font-size: 22px;
	color: #33cc00;
}

.lead-detail .lead-detail-nav .icon-paging-left.left:before {
	font-size: 12px;
	color: #0099d2;
}

.lead-detail .lead-detail-nav .right .icon-paging-left:before,
.lead-detail .lead-detail-nav .right .icon-paging-right:before,
.lead-detail header .right .icon-user:before,
.lead-detail header .right .icon-arrow-right-alt1:before,
.lead-detail header .right .icon-high:before,
.lead-detail header .right .icon-medium:before,
.lead-detail header .right .icon-low:before {
	display: block;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}

.lead-detail .lead-detail-nav .right .icon-paging-left:before,
.lead-detail .lead-detail-nav .right .icon-paging-right:before {
	padding-top: 7px;
}

.lead-detail header .right .icon-user:before,
.lead-detail header .right .icon-arrow-right-alt1:before,
.lead-detail header .right .icon-high:before,
.lead-detail header .right .icon-medium:before,
.lead-detail header .right .icon-low:before {
	padding-top: 9px;
	font-size: 30px;
}

.lead-detail header .right .icon-high:before,
.lead-detail header .right .icon-medium:before,
.lead-detail header .right .icon-low:before {
	padding-top: 7px;
	font-size: 35px;
}

.icon-undo:before {
	content: "\e600";
}
.icon-last:before {
	content: "\e601";
}
.icon-eyedropper:before {
	content: "\e602";
}
.icon-tag-stroke:before {
	content: "\e603";
}
.icon-tag-fill:before {
	content: "\e604";
}
.icon-sun-stroke:before {
	content: "\e605";
}
.icon-sun-fill:before {
	content: "\e606";
}
.icon-moon-stroke:before {
	content: "\e607";
}
.icon-moon-fill:before {
	content: "\e608";
}
.icon-cloud:before {
	content: "\e609";
}
.icon-rain:before {
	content: "\e60a";
}
.icon-umbrella:before {
	content: "\e60b";
}
.icon-star:before {
	content: "\e60c";
}
.icon-map-pin-stroke:before {
	content: "\e60d";
}
.icon-map-pin-fill:before {
	content: "\e60e";
}
.icon-map-pin-alt:before {
	content: "\e60f";
}
.icon-target:before {
	content: "\e610";
}
.icon-download:before {
	content: "\e611";
}
.icon-upload:before {
	content: "\e612";
}
.icon-cloud-download:before {
	content: "\e613";
}
.icon-cloud-upload:before {
	content: "\e614";
}
.icon-fork:before {
	content: "\e615";
}
.icon-chat:before {
	content: "\e616";
}
.icon-chat-alt-stroke:before {
	content: "\e617";
}
.icon-chat-alt-fill:before {
	content: "\e618";
}
.icon-comment-alt1-stroke:before {
	content: "\e619";
}
.icon-comment:before {
	content: "\e61a";
}
.icon-comment-stroke:before {
	content: "\e61b";
}
.icon-comment-fill:before {
	content: "\e61c";
}
.icon-comment-alt2-stroke:before {
	content: "\e61d";
}
.icon-comment-alt2-fill:before {
	content: "\e61e";
}
.icon-checkmark:before {
	content: "\e61f";
}
.icon-check-alt:before {
	content: "\e620";
}
.icon-x:before {
	content: "\e621";
}
.icon-x-altx-alt:before {
	content: "\e622";
}
.icon-denied:before {
	content: "\e623";
}
.icon-cursor:before {
	content: "\e624";
}
.icon-rss:before {
	content: "\e625";
}
.icon-rss-alt:before {
	content: "\e626";
}
.icon-wrench:before {
	content: "\e627";
}
.icon-dial:before {
	content: "\e628";
}
.icon-link:before {
	content: "\e629";
}
.icon-bolt:before {
	content: "\e62a";
}
.icon-move:before {
	content: "\e62b";
}
.icon-move-alt1:before {
	content: "\e62c";
}
.icon-move-alt2:before {
	content: "\e62d";
}
.icon-equalizer:before {
	content: "\e62e";
}
.icon-award-fill:before {
	content: "\e62f";
}
.icon-award-stroke:before {
	content: "\e630";
}
.icon-magnifying-glass:before {
	content: "\e631";
}
.icon-trash-stroke:before {
	content: "\e632";
}
.icon-trash-fill:before {
	content: "\e633";
}
.icon-beaker-alt:before {
	content: "\e634";
}
.icon-beaker:before {
	content: "\e635";
}
.icon-key-stroke:before {
	content: "\e636";
}
.icon-key-fill:before {
	content: "\e637";
}
.icon-new-window:before {
	content: "\e638";
}
.icon-lightbulb:before {
	content: "\e639";
}
.icon-spin-alt:before {
	content: "\e63a";
}
.icon-spin:before {
	content: "\e63b";
}
.icon-curved-arrow:before {
	content: "\e63c";
}
.icon-reload:before {
	content: "\e63d";
}
.icon-reload-alt:before {
	content: "\e63e";
}
.icon-loop:before {
	content: "\e63f";
}
.icon-loop-alt1:before {
	content: "\e640";
}
.icon-loop-alt2:before {
	content: "\e641";
}
.icon-loop-alt3:before {
	content: "\e642";
}
.icon-loop-alt4:before {
	content: "\e643";
}
.icon-transfer:before {
	content: "\e644";
}
.icon-move-vertical:before {
	content: "\e645";
}
.icon-move-vertical-alt1:before {
	content: "\e646";
}
.icon-move-vertical-alt2:before {
	content: "\e647";
}
.icon-move-horizontal:before {
	content: "\e648";
}
.icon-move-horizontal-alt1:before {
	content: "\e649";
}
.icon-move-horizontal-alt2:before {
	content: "\e64a";
}
.icon-arrow-left:before {
	content: "\e64b";
}
.icon-arrow-left-alt1:before {
	content: "\e64c";
}
.icon-arrow-left-alt2:before {
	content: "\e64d";
}
.icon-arrow-right-alt1:before {
	content: "\e64e";
}
.icon-arrow-right-alt2:before {
	content: "\e64f";
}
.icon-arrow-up:before {
	content: "\e650";
}
.icon-arrow-up-alt1:before {
	content: "\e651";
}
.icon-arrow-up-alt2:before {
	content: "\e652";
}
.icon-arrow-down:before {
	content: "\e653";
}
.icon-arrow-down-alt1:before {
	content: "\e654";
}
.icon-arrow-down-alt2:before {
	content: "\e655";
}
.icon-cd:before {
	content: "\e656";
}
.icon-steering-wheel:before {
	content: "\e657";
}
.icon-microphone:before {
	content: "\e658";
}
.icon-headphones:before {
	content: "\e659";
}
.icon-volume:before {
	content: "\e65a";
}
.icon-volume-mute:before {
	content: "\e65b";
}
.icon-play:before {
	content: "\e65c";
}
.icon-pause:before {
	content: "\e65d";
}
.icon-stop:before {
	content: "\e65e";
}
.icon-eject:before {
	content: "\e65f";
}
.icon-first:before {
	content: "\e660";
}
.icon-play-alt:before {
	content: "\e661";
}
.icon-fullscreen-exit:before {
	content: "\e662";
}
.icon-fullscreen-exit-alt:before {
	content: "\e663";
}
.icon-fullscreen:before {
	content: "\e664";
}
.icon-fullscreen-alt:before {
	content: "\e665";
}
.icon-iphone:before {
	content: "\e666";
}
.icon-battery-empty:before {
	content: "\e667";
}
.icon-battery-half:before {
	content: "\e668";
}
.icon-battery-full:before {
	content: "\e669";
}
.icon-battery-charging:before {
	content: "\e66a";
}
.icon-compass:before {
	content: "\e66b";
}
.icon-box:before {
	content: "\e66c";
}
.icon-folder-stroke:before {
	content: "\e66d";
}
.icon-folder-fill:before {
	content: "\e66e";
}
.icon-at:before {
	content: "\e66f";
}
.icon-ampersand:before {
	content: "\e670";
}
.icon-info:before {
	content: "\e671";
}
.icon-pilcrow:before {
	content: "\e672";
}
.icon-hash:before {
	content: "\e673";
}
.icon-left-quote:before {
	content: "\e674";
}
.icon-right-quote:before {
	content: "\e675";
}
.icon-left-quote-alt:before {
	content: "\e676";
}
.icon-right-quote-alt:before {
	content: "\e677";
}
.icon-article:before {
	content: "\e678";
}
.icon-read-more:before {
	content: "\e679";
}
.icon-list:before {
	content: "\e67a";
}
.icon-list-nested:before {
	content: "\e67b";
}
.icon-book:before {
	content: "\e67c";
}
.icon-book-alt:before {
	content: "\e67d";
}
.icon-book-alt2:before {
	content: "\e67e";
}
.icon-pen:before {
	content: "\e67f";
}
.icon-pen-alt-stroke:before {
	content: "\e680";
}
.icon-pen-alt-fill:before {
	content: "\e681";
}
.icon-pen-alt2:before {
	content: "\e682";
}
.icon-brush:before {
	content: "\e683";
}
.icon-layers:before {
	content: "\e684";
}
.icon-image:before {
	content: "\e685";
}
.icon-camera:before {
	content: "\e686";
}
.icon-aperture:before {
	content: "\e687";
}
.icon-aperture-alt:before {
	content: "\e688";
}
.icon-chart:before {
	content: "\e689";
}
.icon-chart-alt:before {
	content: "\e68a";
}
.icon-bars:before {
	content: "\e68b";
}
.icon-bars-alt:before {
	content: "\e68c";
}
.icon-eye:before {
	content: "\e68d";
}
.icon-user:before {
	content: "\e68e";
}
.icon-home:before {
	content: "\e68f";
}
.icon-clock:before {
	content: "\e690";
}
.icon-lock-stroke:before {
	content: "\e691";
}
.icon-lock-fill:before {
	content: "\e692";
}
.icon-unlock-stroke:before {
	content: "\e693";
}
.icon-layers-alt:before {
	content: "\e694";
}
.icon-question-mark:before {
	content: "\e695";
}
.icon-brush-alt:before {
	content: "\e696";
}
.icon-unlock-fill:before {
	content: "\e697";
}
.icon-arrow-right:before {
	content: "\e698";
}
.icon-pin:before {
	content: "\e699";
}
.icon-minus-alt:before {
	content: "\e69a";
}
.icon-minus:before {
	content: "\e69b";
}
.icon-plus-alt:before {
	content: "\e69c";
}
.icon-plus:before {
	content: "\e69d";
}
.icon-document-fill:before {
	content: "\e69e";
}
.icon-document-stroke:before {
	content: "\e69f";
}
.icon-document-alt-fill:before {
	content: "\e6a0";
}
.icon-document-alt-stroke:before {
	content: "\e6a1";
}
.icon-movie:before {
	content: "\e6a2";
}
.icon-heart-fill:before {
	content: "\e6a3";
}
.icon-mail:before {
	content: "\e6a4";
}
.icon-heart-stroke:before {
	content: "\e6a5";
}
.icon-share:before {
	content: "\e6a6";
}
.icon-calendar-alt-fill:before {
	content: "\e6a7";
}
.icon-calendar-alt-stroke:before {
	content: "\e6a8";
}
.icon-calendar:before {
	content: "\e6a9";
}
.icon-cog:before {
	content: "\e6aa";
}
.icon-paperclip:before {
	content: "\e6ab";
}

.icon-sort-desc:after {
	content: "\e6ac";
}
.icon-sort-asc:after {
	content: "\e6ad";
}
.icon-open-filter:after {
	content: "\e6ae";
}
.icon-close-filter:after {
	content: "\e6af";
}
.icon-paging-right:before {
	content: "\e6b0";
}
.icon-paging-left:before {
	content: "\e6b1";
}
.icon-medium:before {
	content: "\e6b2";
}
.icon-low:before {
	content: "\e6b3";
}
.icon-high:before {
	content: "\e6b4";
}