/**
 * @project       default project
 * @package       html-css-js
 * @author        VI
**/

/**
 * @section  layout
**/

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	background-color: #fff;
}

.app-wrapper {
	width: 1024px;
	min-height: 100%;
	margin: 0 auto;
	padding: 0 10px;
	background: #fff;
}

.tab-dashboard,
.tab-entryProject,
.tab-staffing {
	display: none;
}

.tab-dashboard.visible,
.tab-entryProject.visible,
.tab-staffing.visible {
	display: block;
}