
.table {
    width: 100%;
    margin-bottom: 0;
    border-top: none;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: none;
}

.table > thead > tr > th,
.table > tbody > tr > td,
.table > tbody > tr > th {
    padding: 0;
}

.table > thead > tr > th {
    border-bottom: 1px solid black;
}


.table tr:not(:first-child) th {
    width:200px;
}

.table tr:last-child {
    border-bottom: none;
}

.table td {
    text-align:center;
}

.table th,
.table td {
    padding: 0;
    min-width:60px;
    border-bottom: 1px solid black;
}

.subTable {
    margin-top: 0;
}

.subTable tr:last-child th,
.subTable tr:last-child td {
    border-bottom: none;
}

.table .subTable tr {
}
.fullyAvailable{
	background-color: rgba(100,220,100,1);
}
.notAvailable{
	background-color: rgba(255,80,100,1);
}
.limitedAvailable{
	background-color: rgba(255,255,100,1);
}

.subTable th {
    text-align: right;
}

.inactive {
    color: #999;
    font-size: 0;
    background-color: rgb(200,200,200);
}


