
.table {
    width: 100%;
    margin-bottom: 0;
    border-top: none;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: none;
    padding-top: 8px;
    padding-bottom: 8px;
    vertical-align: middle;
}

.table > thead > tr > th {
    border-bottom: 1px solid black;
}

.table tr {
    //background-color: rgba(0,0,250,0.3);
}

.table thead:first-child th {
    text-align: center
}

.table tr:last-child {
    border-bottom: none;
}

.table td {
    text-align:center;
}

.table th,
.table td {
    padding: 0;
    min-width: 60px;
    border-bottom: 1px solid black;
}

.table th:last-child,
.table td:not(.subTableWrapper):last-child {
  width: 75px;
  border-left: 1px dotted black;
}

.table thead th:first-child {
    width: 20%;
    border-right: 1px dotted #000;
    padding-right: 10px;
}

.table tbody th {
    width:20%;
    border-right: 1px dotted #000;
    padding-right: 10px;
}

.table > tbody > tr > td.subTableWrapper {
    padding: 0;
}

.subTable {
    margin-top: 0;
}

.subTable tr:last-child th,
.subTable tr:last-child td {
    border-bottom: none;
}

.subTable th {
    text-align: right;
}

.subTable td,
.subTable th {
    border-bottom-style: none;
}

.inactive {
    color: #999;
    font-size: 0;
    background-color: rgb(200,200,200);
}

.fullyAvailable{
	background-color: rgba(100,220,100,1);
}
.notAvailable{
	background-color: rgba(255,80,100,1);
}
.limitedAvailable{
	background-color: rgba(255,255,100,1);
}


