.leaflet-popup-content-wrapper {
	font-family: LatoRegular,arial;
	border-radius: 0;
}

.leaflet-popup-tip {
	height: 0;
}

.leaflet-container a.leaflet-popup-close-button {
	display: none;
}

.leaflet-popup-content {
	margin: 5px;
}

.leaflet-popup-content .popup {
	overflow: hidden;/* Makes #outer contain its floated children */
    width: 100%;}

.leaflet-popup-content .thumbnailExpert {
	float: left;
}

.leaflet-popup-content .expertProfile {
	margin-left: 105px;
}

.leaflet-popup-content .expertProfile span.name {
	font-weight: bold;
}

.leaflet-popup-content .expertProfile a {
	text-decoration: none;
}

.leaflet-popup-content .status {
	border-top: 1px solid #CCCCCC;
	margin-top: 5px;
}

.leaflet-popup-content .status span.up {
	text-transform: uppercase;
}